@import "../base.scss";
.knowledge-item {

    cursor: pointer;
    margin-bottom: 10px;
    img {
        width: 312px;
        border-radius: 30px;
    }
    h3 {
        text-align: center;
        color: $maincolor;
    }
}

.knowledge-item-content {
    width: 80%;
    height: 80%;
    margin-top: 20px;
    padding: 32px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $mainBackgroundColor;
    img {
        width: 600px;
        height: 600px;
        object-fit: cover;
    }
    div {
        width: 40%;
        height: 100%;

        color: black;

        h1 {
            margin-top: 20px;
            margin-bottom: 40px;
            color: $maincolor;
        }
        p {
            color: $contentText;
            overflow: auto;
            word-break: keep-all;
            line-height: 1.8em;
            letter-spacing: 0.1em;
            margin-bottom: 30px;
        }
    }
}
