@import "../base.scss";

.header {
   
    position: fixed;
    top: 0;
    width: 100%;

    // @if () {
     
    //     background-color: $secondary;

    //   } @else {
    //     background-color: none;
    //   }

    .header-content {
        display: flex;
        justify-content: space-between;
        padding: 16px 64px;
        align-items: center;

        img {
            width: 200px;
        }

        div {
            width: 300px;
            display: flex;
            justify-content: space-between;
           
        }
    }
}

@media screen {
    
}