@import "../base.scss";

.header {
    position: fixed;
    top: 0;
    width: 100%;

    // @if () {

    //     background-color: $secondary;

    //   } @else {
    //     background-color: none;
    //   }

    .header-content {
        display: flex;
        justify-content: space-between;
        padding: 16px 64px;
        align-items: center;

        img {
            width: 200px;
        }

        div {
            .header-menu {
                width: 40px;
                margin-top: 20px;
            }

            .header-link-drawer {
                width: 300px;
                .header-link {
                    text-decoration: none;
                    color: #aaa;
                    width: 400px;
              

                    // p {
                    //     margin: 100px;
                    //     color: $maincolor;
                    // }
                }
            }
        }
    }

    .header-link-p {
        margin: 100px;
 
    }

    .header-social {
        display: flex;
        flex-direction: column;
        // justify-content: end;
        align-items: flex-end;
        padding: 0px 64px;
        a {
            img {
                width: 40px;
                margin-bottom: 5px;
            }
        }
    }
}


.header-link-list{
    width: 300px;
    margin: 30px;
    hr{
        border: 0.01px solid $contentText;
    }
}
@media screen {
}
