@import "../base.scss";

.footer-content {
    background-color: $secondary;
}

.footer-content-width {
    display: flex;
    width: 1000px;
    margin: auto;
}

.footer-contant-p {
    font-weight: bold;
    font-size: 20px;
    line-height: 140%;
    color: #ffffff;
}

.footer-social-media-box {
    display: flex;
}
