@import "../base.scss";

.homepage {
    .homepage-img {
        width: 100%;
        //    height: calc(100vh);
        //    object-fit: cover;
    }
    h1 {
        text-align: center;
        margin: 60px;
        color: $maincolor;
    }
    .homepage-about {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        justify-content: space-between;
        align-items: center;
        margin: 90px auto;

        .homepage-about-text {
            width: 400px;
            h2 {
                color: $maincolor;
            }
            p {
                color: $contentText;
                overflow: auto;
                word-break: keep-all;
                line-height: 1.8em;
                letter-spacing: 0.1em;
            }
        }
    }
}
